In [5]:
import helpers.riot as rt

In [7]:
fz_puuid = rt.get_puuid('fzpowder')

In [10]:
df = rt.last_n_match_details_df(fz_puuid, 1)

In [25]:
df['role']

0       SOLO
1       NONE
2    SUPPORT
3      CARRY
4       SOLO
5      CARRY
6       NONE
7       SOLO
8    SUPPORT
9       SOLO
Name: role, dtype: object

In [23]:
df['new_win'] = [ '✅' if x == True else '❌' for x in df['win']]

In [24]:
df[['win','new_win']]

     win new_win
0   True       ✅
1   True       ✅
2   True       ✅
3   True       ✅
4   True       ✅
5  False       ❌
6  False       ❌
7  False       ❌
8  False       ❌
9  False       ❌